<%# encoding: utf-8 %>
<div class="row">
  <div class="col-xs-12">
    <p class="lead">
      Sevgili Girişimciler, eski defterleri açıyoruz. Projemiz battı diye üzülmeyin,
      bir fırsat bulamadan kaybolup gittik demeyin. <strong>Fail Conf</strong> <em>en güzel batan 3
      girişimi</em> yeniden hayata döndürüyor. Nerede hata yaptınız beraber bulalım,
      uzmanlar değerlendirsin ve yatırım kapıları tekrar açılsın.
      <strong>Girişiminiz küllerinden yeniden doğacak!</strong>
    </p>
    <p style="padding-top: 20px; padding-bottom: 30px;">
      <a href="<%= data.global.event.cfp %>" class="btn btn-lg btn-warning">Hemen Başvurun!</a>
    </p>
    <p>
      23 Ağustos 2014 tarihinde Sehir Üniversitesinde yapılacak sunum ve değerlendirmelerde, ilk iş planınızı ve
      neden başarılı olamadığınızı sunun <strong>ikinci bir şans kazanın</strong>.
    </p>
  </div>
</div>
