<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <div class="jumbotron center">
        <p>
          <%= image_tag 'failconf-logo.png' %>
        </p>
        <h3>27 - 28 September 2014, Istanbul / Turkey</h3>
        <a href="http://twitter.com/<%= data.global.social.twitter %>" class="twitter"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
