<!-- <div class="row">
  <div class="col-xs-12">
    <p class="lead">
      Stay tuned for <strong>more speakers</strong> and <strong>more surprises</strong>!
    </p>
  </div>
</div> -->
<div class="row">
  <% data.speakers.each do |speaker| %>
    <%= partial 'partials/speaker', :locals => { :speaker => speaker } %>
  <% end %>
</div>
