<div class="row">
  <div class="col-xs-12">
    <p id="map-mobile" class="hidden-lg hidden-md hidden-sm">
      <i class="icon-map-marker icon-4x"></i><br>
      <a href="https://maps.google.com/maps?q=Ko%C3%A7+%C3%9Cniversitesi+Amerikan+Hastanesi+Toplant%C4%B1+Merkez&amp;hl=en&amp;ie=UTF8&amp;cid=3290997392589991543&amp;gl=TR&amp;hq=Ko%C3%A7+%C3%9Cniversitesi+Amerikan+Hastanesi+Toplant%C4%B1+Merkez&amp;t=m&amp;hnear=&amp;ll=41.053619,28.99558&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;source=embed">Click for Map</a>
    </p>
    <div id="google-map" class="hidden-xs" >
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Ko%C3%A7+%C3%9Cniversitesi+Amerikan+Hastanesi+Toplant%C4%B1+Merkez&amp;hl=en&amp;ie=UTF8&amp;cid=3290997392589991543&amp;gl=TR&amp;hq=Ko%C3%A7+%C3%9Cniversitesi+Amerikan+Hastanesi+Toplant%C4%B1+Merkez&amp;t=m&amp;hnear=&amp;ll=41.056751,28.99558&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <address>
      <strong>Ko&ccedil; &Uuml;niversitesi</strong>, Hem&#351;irelik Y&uuml;ksekokulu<br>
      G&uuml;zelbah&ccedil;e Sokak No. 20, Ni&#351;anta&#351;&#305;<br>
      34365 - &#304;stanbul - T&uuml;rkiye
    </address>
    <address>
      Tip:<br/>
      Ask for &quot;Amerikan Hastahanesi&quot; in Ni&#351;antas&#305;.<br/>
      Same building, right next to main entrance.
    </address>
  </div>
</div>
